*{
  font-family: 'Work Sans', sans-serif;
  margin: 0%;
}
.btn-primary{
 color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
padding: 21px 40px;
border: none;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-secondary{
  color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 21px 40px;
text-transform: uppercase;
border: none;
border-radius: 48px;
background: #4EC5F7;
}
/* header style */
header{
  background: #FFF;
  box-shadow: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
  display: flex;
  justify-content: space-between;
}
nav > ul{
  display: flex;
  
}
nav li{
  list-style: none;
  color: #3C354F;
  margin: 40px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
nav li a{
  text-decoration: none;
}

.nav-logo{
  display: flex;

}
.nav-logo .nav-title{
text-align: center;
font-size: 45px;
font-weight: 700;
}
.nav-logo .nav-title span{
  color: #FF42A5;
}
/* banner style */
section{
  background: #fcf6fc;
  margin-top: 20px;
  
}
.banner{
  display: flex;
  justify-content: space-around;
}
.banner-title{
  margin-top: 80px;
}
.banner-title h3{
color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.banner-title h1{
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
color:#cc4ecb;
margin-top: 10px;
}
.banner-title li{
color: #534C64;
font-size: 1rem;
font-weight: 500;
margin-top: 10px;
}
.btn{
  margin-top: 20px;
}

/* funny style */
.funny{
  background: #fff;
  margin-top: 100px;
}
.section-title{
color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
padding: 20px 0;
}
.section-title span{
  color: #F948B2;
}
.section-description{
color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
padding-bottom: 20px;
}
.fuuny-container{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.fuuny-container .card{
  border-radius: 8px;
  text-align: center;
  
}
.fuuny-container .card .card-title{
color: #534C64;
font-size: 20px;
font-weight: 500;
text-align: left;
padding: 20px 0;
}
.fuuny-container .card img{
 
}
/* funny section end */
/* download style start */
.download{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background: none;
}
.download-content{

}
.download-title{
text-align:right;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.download-title span{
  color: #F948B2;
}
.download-description{
color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.download-img .second-img{
  border: 10px solid #fff;
  border-radius: 8px;
  position: relative;
  width: 310px;
  bottom: 300px;
  right: 200px;
}
