*{
  font-family: 'Work Sans', sans-serif;
  margin: 0%;
}
.fix-width{
  width: 1300px;
  margin: auto;
}
.btn-primary{
 color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
padding: 21px 40px;
border: none;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-secondary{
  color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 21px 40px;
text-transform: uppercase;
border: none;
border-radius: 48px;
background: #4EC5F7;
}
/* header style */
header{
  background-color: #fff;
  box-shadow: 1px 10px 10px #e3e3e342;
  
  top: 0px;
  padding: 20px 0;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
}
nav > ul{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav li{
  margin-left: 30px;
  display: inline-block;
}
nav li a{
  color: var(--black);
  padding: 30px 30px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: none;
}

.nav-logo{
  display: flex;
  align-items: center;
}
.nav-menu ul li:last-child a{
  background:rgba(11, 2, 35, 0.1);
  padding:15px 20px;
  margin-top: 15px;

}
.nav-menu ul li:last-child a i img{
  margin-top: -8px;
  margin-left: 5px;
  width: 20px;
}

.nav-logo .nav-title{
  margin-left: 10px;
  font-size: 40px;
  font-weight: 700;
  color: var(--black);
}
.nav-logo .nav-title span{
  color: #FF42A5;
}
/* banner style */

.banner{
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
    background-size: auto;
    padding: 50px 0px;
}
.banner-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.banner-title{
 
}
.banner-title h3{
  color: var(--black);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.heading{
  color: #F948B2;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
}
.banner-img{
  margin-bottom: 15px;
    display: flex;
    align-items: center;
}
img{
  max-width: 100%;
}
.banner-img span{
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
.btn{
  margin-bottom: 30px;
}
.primary-btn{
  background-color:#F948B2;
    padding: 15px 40px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    cursor: pointer;
}
.secondary-btn{
  background-color:#4EC5F7;;
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
}
.banner-right{
  text-align: end;
}
/* funny style */
.funny{
  background: #fff;
  margin-top: 100px;
  padding-bottom: 120px;
}
.section-title{
color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
padding: 20px 0;
}
.section-title span{
  color: #F948B2;
}
.section-description{
color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
padding-bottom: 20px;
}
.fuuny-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card{
 
  position: relative;
  
}
.hover-card{
  visibility: hidden;
  opacity: none;
}
/* .hover-card:hover{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 90%;
  width: 100%;
  border-radius: 15px;
  background: #00000073;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease-in-out;
} */
.card:hover > .hover-card{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70%;
  width: 100%;
  border-radius: 15px;
  background: #00000073;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease-in-out;
}

.hover-card .box{
  color: #F948B2;
}

.fuuny-container .card .card-title{
color: #534C64;
font-size: 20px;
font-weight: 500;
text-align: left;
padding: 20px 0;
}
.fuuny-container .card img{
 
}
/* funny section end */
/* game style start */
.game-play{
  padding-bottom: 120px;
}
.game-turn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.left{
  text-align: right;
    padding-right: 20%;
}
.left h3{
  color: var(--black);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
}
.left h3 span{
  color: #F948B2;
}
.left p{
  color: var(--text-color);
    font-size: 18px;
}
.right{
  position: relative;
  text-align: end;
}
.right-img{
  position: absolute;
  width: 300px !important;
  left: -50px;
  bottom: -55px;
}
/* list style  */
.list{
  padding: 120px 0px;
  background: linear-gradient( 90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100% );
}
/* .list-type{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
} */
.list-type{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.list-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #FFF;
  border-radius: 50px;
  border: 1px solid #FFF;
}
.list-box:hover{
  border-color: #F948B2;
  color: #F948B2;
  transition: 0.3s all ease-in-out;
}
.list-box:hover span{
  color: #F948B2;
}
.list-box img{
  width: 40px;
  margin-right: 10px;
}
.list-box span{
  color: #0B0223;;
  font-size: 15px;
}

/* footer style */
footer{
  padding: 100px 0px;
    background: #0b0223;
    text-align: center;
}
.footer-logo-one{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
}
.footer-logo-one img{
  margin-right: 10px;
}
.footer-logo-one h1{
  color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.footer-logo-one h1 span{
  color: #F948B2;
}
.footer-logo-two{
  margin-bottom: 50px;
}
.footer-logo-two ul li{
  display: inline-block;
}
.footer-logo-two ul li a{
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
}
.footer-logo-three{
  display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo-three img{
  width: 30px;
  margin: 0px 15px;
}
.footer-logo-four{
  margin-top: 50px;
}
.footer-logo-four ul li{
  display: inline-block;
}
.footer-logo-four ul li a{
  color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.footer-logo-five{
  text-align: center;
  margin-top: 10px;
}
.footer-logo-five span{
  color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 500;
}
/* mobile responsive */
@media screen and (max-width: 576px){
  /* header responsive */
  .fixed-width {
    width: 100% !important;
}
/* .nav-menu li{
  margin-left: 0px !important;
} */
/* .nav-menu li a{
  padding: 10px !important;
} */
.nav-menu{
  flex-direction: column;
  margin-top: 10px !important;
  text-align: center;

}
/* banner sectionj */
.banner{
  padding: 50px 30px !important;
  background-size: cover !important;
}
.banner-content{
  flex-direction: column-reverse;
    text-align: center !important;
}
}